<!-- your html code here -->
 <div class="border-bottom border-top p-5 gap-1 bg-light" style="width: 70vw;display: flex; flex-direction: row-reverse;">
<img src="/website/assets/img/1.jpg" alt="hombre" style="width: 15vw; border-radius: 60%;">
<div class="header-text">
<h2 class="text-secondary"><b class="text-dark">This First Heading</b>  <b> Will Catch Your Eye </b> </h2>
<p class="text-dark">Donec interdum, felis sit amet blandit venenatis, diam lorem euismod velit, 
    sit amet convallis ligula elit sed diam. Cras sit amet nisl sed justo sagittis posuere in quis nisi. 
    Vestibulum blandit rutrum nisi quis euismod. Sed ut nisl rutrum, 
    pellentesque leo eget, venenatis neque. Aliquam efficitur ligula non pharetra rutrum</p>
</div>
 </div>