<div class="bg-light p-5 ">
    <h1>Portfolio</h1>
    <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt expedita, fuga, velit repellendus sunt
        veritatis
        illo inventore odit, ipsa eos magni cum minus? Sint est ullam asperiores reprehenderit voluptas qui?</h5>
    <div class="mt-2">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card">
                    <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="not_img">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Proyect Name</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis
                            reprehenderit eum quia deserunt animi fuga fugiat explicabo!</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="not_img">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Proyect Name</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat sit
                            placeat, expedita temporibus autem harum! Iste, fugit.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="not_img">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Proyect Name</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel numquam omnis
                            rem, amet cupiditate et a molestiae?losn asd asd edgeqawsdhryjrt</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>