<!-- your html code here -->
 <div class="border-bottom p-5 gap-1 bg-light" style="width: 70vw; display: flex; flex-direction: row;">
<img src="/website/assets/img/2.jpg" alt="teclado" style="width: 15vw; border-radius: 60%;">
<div class="services-text">
<h2 class="text-secondary"><b class="text-dark">The Second Heading</b>  <b> Is Pretty Cool Too. </b> </h2>
<p class="text-dark">Donec interdum, felis sit amet blandit venenatis, diam lorem euismod velit, 
    sit amet convallis ligula elit sed diam. Cras sit amet nisl sed justo sagittis posuere in quis nisi. 
    Vestibulum blandit rutrum nisi quis euismod. Sed ut nisl rutrum, 
    pellentesque leo eget, venenatis neque. Aliquam efficitur ligula non pharetra rutrum</p>
</div>
 </div>